.place__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  color:#fff;
  grid-area: title;
  margin: 0;
}

@media screen and (max-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width:320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 16px;

  }
  
}