.places {
	margin: 92px auto 0;
	padding: 0 148px;
	box-sizing: border-box;
}

@media screen and (max-width:1024px) {
	.places {
    padding: 0 48px;
  }
	
}

@media screen and (max-width:768px) {
	.places {
    margin: 88px auto 0;
	padding: 0 24px;
  }
	
}

@media screen and (max-width:320px) {
	.places {
    margin: 64px auto 0;
    padding: 0;
  }
	
}