.lead {
  max-width: 1280px;
  margin: 56px auto 0;
  padding: 0 148px 0;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {
  .lead {
    margin-top: 48px;
    padding: 0 48px;  
  }
}

@media screen and (max-width:768px) {
  .lead {
    width: 100%;
    padding: 0;  
  }
}

