.header__langs {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  display: flex;
  list-style: none;
  margin: 18px 0 6px;
  padding: 0;
  gap: 18px;
  color:#fff;
  line-height: 0;
}


@media screen and (max-width:400px) {
  .header__langs {
    margin: 14px 0 8px;  
  }
}  
