.intro {
  width: 100%;
  padding: 0 442px 0 148px;
  margin: 92px 0 0;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {
  .intro {
    padding: 0 286px 0 48px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    padding: 0 24px;
    margin: 92px 0 0;
  }
}

@media screen and (max-width:320px) {
  .intro {
    margin: 64px 0 0;
    padding: 0 16px;
  }
}