@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__langs/header__langs.css);
@import url(../blocks/header/__langs-item/header__langs-item.css);
@import url(../blocks/header/__langs-item/_active/header__langs-itev_active.css);
@import url(../blocks/header/__langs-link/header__langs-link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__illustration/lead__illustration.css);
@import url(../blocks/lead/__picture/lead__picture.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro_title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/photo-grid/__list-item/photo-grid__list-item.css);
@import url(../blocks/photo-grid/__picture/photo-grid__picture.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__description/place__description.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__links-item/footer__links-item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);