.lead__illustration {
  width: 100%;
  margin: 64px auto 0;
}

@media screen and (max-width:1024px) {
  .lead__illustration {
    margin: 56px auto 0;
  }
}

@media screen and (max-width:320px) {
  .lead__illustration {
    margin: 40px auto 0;
  }
}